# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [19]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
from newsapi import NewsApiClient
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/lucasshaiman/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [20]:
# Read your api key environment variable
# YOUR CODE HERE!

load_dotenv("LCS.env")

True

In [21]:
# Create a newsapi client
# YOUR CODE HERE!

api_key = os.getenv("news_api_key")
newsapi = NewsApiClient(api_key=api_key)

In [22]:
type(api_key)

str

In [23]:
# Fetch the Bitcoin news articles
# YOUR CODE HERE!
bitcoin_headlines = newsapi.get_everything(
    q="bitcoin AND BTC",
    language="en",
    page_size=100,
    sort_by="relevancy"
    
)

In [24]:
print(f"Total articles about Bitcoin: {bitcoin_headlines['totalResults']}")

Total articles about Bitcoin: 1994

In [25]:
bitcoin_headlines["articles"][0]

{'source': {'id': 'mashable', 'name': 'Mashable'},
 'author': 'Stan Schroeder',
 'title': 'Elon Musk says Tesla will resume Bitcoin purchases when Bitcoin gets greener',
 'description': "It's all about clean energy, it seems.\xa0\nElon Musk and Tesla caused ripples in the cryptocurrency market in the past few months, first by announcing that Tesla had bought $1.5 billion worth of bitcoins and that it will start accepting Bitcoin for purchases, an…",
 'url': 'https://mashable.com/article/tesla-bitcoin-purchases-green/',
 'urlToImage': 'https://mondrian.mashable.com/2021%252F06%252F14%252Fcc%252Faf6b974e89a64972a334f8675f5dc80a.36e5a.jpg%252F1200x630.jpg?signature=XiWTfhyod6_Xl2i4nyhER_1xCXQ=',
 'publishedAt': '2021-06-14T07:15:49Z',
 'content': "It's all about clean energy, it seems.\xa0\r\nElon Musk and Tesla caused ripples in the cryptocurrency market in the past few months, first by announcing that Tesla had bought $1.5 billion worth of bitcoi… [+2508 chars]"}

In [26]:
# Fetch the Ethereum news articles
# YOUR CODE HERE!

ethereum_headlines = newsapi.get_everything(
    q="ethereum AND ETH",
    language="en",
    page_size=100,
    sort_by="relevancy"
)

print(f"Total articles about Ethereum: {ethereum_headlines['totalResults']}")

ethereum_headlines["articles"][0]

Total articles about Ethereum: 646

{'source': {'id': 'the-verge', 'name': 'The Verge'},
 'author': 'Chaim Gartenberg',
 'title': 'Coinbase is down amid massive cryptocurrency plunge',
 'description': 'Cryptocurrency exchange Coinbase is experiencing a partial outage amid a massive plummet in cryptocurrencies (including Bitcoin, Etherium, and Dogecoin).',
 'url': 'https://www.theverge.com/2021/5/19/22443701/coinbase-outage-bitcoin-ethereum-price-falling-cryptocurrency',
 'urlToImage': 'https://cdn.vox-cdn.com/thumbor/9inLHdPYtMB1pyO936DAKt3d7b4=/0x215:3000x1786/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/8954807/acastro_170726_1777_0008.jpg',
 'publishedAt': '2021-05-19T13:47:36Z',
 'content': 'Illustration by Alex Castro / The Verge\r\n\n \n\n Cryptocurrency exchange Coinbase is experiencing a “partial” outage this morning for its entire site and application. Additionally, both Coinbase and Bin… [+1307 chars]'}

In [27]:
# Create the Bitcoin sentiment scores DataFrame
# YOUR CODE HERE!

bitcoin_sentiments = []

for article in bitcoin_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        bitcoin_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass

btc_df = pd.DataFrame(bitcoin_sentiments)

cols = ["date", "text", "compound", "positive", "negative", "neutral"]
btc_df = btc_df[cols]

btc_df.head()

,date,text,compound,positive,negative,neutral
0,2021-06-14,"It's all about clean energy, it seems. \r\nElo...",0.6908,0.169,0.000,0.831
1,2021-06-11,"Several crypto fans that descended on Miami, F...",0.5574,0.107,0.000,0.893
2,2021-06-09,El Salvador has become the first country in th...,0.1280,0.043,0.000,0.957
3,2021-06-13,By Reuters Staff\r\nJune 13 (Reuters) - Tesla ...,0.5859,0.134,0.000,0.866
4,2021-05-19,The price of Bitcoin fell as much as 29% Wedne...,-0.7506,0.000,0.203,0.797

In [28]:
# Create the Ethereum sentiment scores DataFrame
# YOUR CODE HERE!

ethereum_sentiments = []

for article in ethereum_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        ethereum_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass

eth_df = pd.DataFrame(ethereum_sentiments)

cols = ["date", "text", "compound", "positive", "negative", "neutral"]
eth_df = eth_df[cols]

eth_df.head()

,date,text,compound,positive,negative,neutral
0,2021-05-19,Illustration by Alex Castro / The Verge\r\n\n ...,0.0000,0.000,0.000,1.000
1,2021-05-29,By Cristina CriddleTechnology reporter\r\nimag...,0.0000,0.000,0.000,1.000
2,2021-05-19,"Ethereum, the second largest cryptocurrency af...",-0.2732,0.000,0.068,0.932
3,2021-06-10,This article was translated from our Spanish e...,-0.3400,0.000,0.066,0.934
4,2021-05-28,"In March 2020, blockchain protocol solana offi...",0.2023,0.091,0.000,0.909

In [29]:
# Describe the Bitcoin Sentiment
# YOUR CODE HERE!

btc_df.describe()

         compound    positive    negative    neutral
count  100.000000  100.000000  100.000000  100.00000
mean     0.105176    0.062580    0.036450    0.90099
std      0.400640    0.062169    0.053383    0.06896
min     -0.827100    0.000000    0.000000    0.69500
25%     -0.250000    0.000000    0.000000    0.85475
50%      0.115350    0.063500    0.000000    0.91050
75%      0.401900    0.094000    0.063250    0.94500
max      0.883400    0.305000    0.261000    1.00000

In [30]:
# Describe the Ethereum Sentiment
# YOUR CODE HERE!

eth_df.describe()

         compound    positive    negative     neutral
count  100.000000  100.000000  100.000000  100.000000
mean     0.119654    0.057000    0.031390    0.911590
std      0.359184    0.055601    0.045214    0.064895
min     -0.788600    0.000000    0.000000    0.737000
25%     -0.012900    0.000000    0.000000    0.869500
50%      0.102700    0.060500    0.000000    0.926000
75%      0.404525    0.086500    0.063500    0.951000
max      0.771700    0.213000    0.203000    1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: Bitcoin

Q: Which coin had the highest compound score?

A: Bitcoin

Q. Which coin had the highest positive score?

A: Bitcoin

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [31]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/lucasshaiman/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [32]:
# Instantiate the lemmatizer
# YOUR CODE HERE!
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
# YOUR CODE HERE!
sw = set(stopwords.words('english'))


# Expand the default stopwords list if necessary
# YOUR CODE HERE!
#sw_addon = {'said', 'mln', 'kilolitres','kl'}
#second_result = [word.lower() for word in words if word.lower() not in sw.union(sw_addon)]

In [59]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text
    regex = re.compile("[^a-zA-Z ]")

    re_clean = regex.sub('', text)
    re_clean = re_clean.replace('\n','')
   
    # Create a tokenized list of the words
    words = word_tokenize(re_clean)
    
    # Lemmatize words into root words
    lem = [lemmatizer.lemmatize(word) for word in words]
   
    # Convert the words to lowercase
    output = [word.lower() for word in lem if word.lower() not in sw.union(sw_addon)]

    tokens = ' '.join(output)
    
    # Remove the stop words
    
    
    return tokens

In [60]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!

btc_df["tokens"] = for btc_df["text"] in row:
    tokenize(text) in btc_df["text"]

NameError: name 'sw_addon' is not defined

In [36]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

eth_tokens = []

for index, row in eth_df.itterows():
    tokens = tokenizer(row["text"])
    eth_tokens.append(tokens)
    
eth_df["tokens"] = eth_tokens
eth_df.head()

AttributeError: 'DataFrame' object has no attribute 'itterows'

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---